<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .error {color: red;}
    </style>
    <title>Document</title>
</head>
<body>
    <h1>Love Calculator</h1>
    <form action="calculate" method="GET">
        <p>
            Person 1: 
            <input type="text" name="fname" />
            <br>
        </p>
        <br>
        <p>
            Person 2: 
            <input type="text" name="sname" />
            <br>
        </p>
        <br>
        <p>
            <input type="submit" value="Calculate"/>
        </p>
    </form>
</body>
</html>